* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-size: .14rem;
}

html {
  font-size: 625%;
}

body,
html,
.wrap {
  width: 100%;
  height: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header {
  border-bottom: 1px solid #ccc;
  width: 100%;
  height: .5rem;
  line-height: .5rem;
  padding: 0 .1rem;
  position: relative;
}

header .iscroll {
  width: 100%;
  overflow: hidden;
}

header .iscroll ul {
  display: flex;
  width: 4.2rem;
}

header .iscroll ul i {
  position: absolute;
  right: 0;
  top: 0;
}

header .iscroll ul em {
  width: calc(100% / 8);
  height: 2px;
  background: orange;
  position: absolute;
  left: 0;
  bottom: 0;
}

header .iscroll ul li {
  text-align: center;
  width: .5rem;
}

footer {
  width: 100%;
  height: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 .1rem;
}

footer li {
  text-align: center;
}

footer li i {
  display: block;
}

.or {
  color: orange;
}

section {
  overflow-y: auto;
}

section .one {
  width: 100%;
  height: 100%;
}

section .one .fir {
  overflow: hidden;
}

section .one .small {
  width: 100%;
  height: auto;
}

section .one .small img {
  width: 100%;
  height: 1.5rem;
}

section .one .list {
  padding: 0 .1rem;
  width: 100%;
  height: auto;
}

section .one .list ol {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

section .one .list ol li {
  width: 48%;
}

section .one .list ol li img {
  width: 100%;
  height: auto;
}
